<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>encoding</param-name>
    <param-value>utf-8</param-value>
  </context-param>
  <servlet>
    <servlet-name>ServletConfigDemo</servlet-name>
    <servlet-class>cn.mh.p3.ServletConfigDemo</servlet-class>
    <init-param>
      <description>设置servlet初始配置文件</description>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfigDemo</servlet-name>
    <url-pattern>/ServletConfigDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet1</servlet-name>
    <servlet-class>cn.mh.p1.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet1</servlet-name>
    <url-pattern>/servlet1.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet2</servlet-name>
    <servlet-class>cn.mh.p1.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet2</servlet-name>
    <url-pattern>/servlet2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet3</servlet-name>
    <servlet-class>cn.mh.p1.Servlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet3</servlet-name>
    <url-pattern>/servlet3.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>4.servlet的生命周期</description>
    <display-name>servlet4_Life</display-name>
    <servlet-name>servlet4_Life</servlet-name>
    <servlet-class>cn.mh.p1.Servlet4_Life</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet4_Life</servlet-name>
    <url-pattern>/servlet4_Life</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>Servlet5</servlet-name>
    <servlet-class>cn.mh.p1.Servlet5</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet5</servlet-name>
    <url-pattern>/servlet5.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>P2Servlet1</display-name>
    <servlet-name>P2Servlet1</servlet-name>
    <servlet-class>cn.mh.p2.P2Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>P2Servlet1</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>ServletContext作用</description>
    <display-name>servletContext1</display-name>
    <servlet-name>servletContext1</servlet-name>
    <servlet-class>cn.mh.p4.ServletContext1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletContext1</servlet-name>
    <url-pattern>/servletContext1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>P5Servlet1</display-name>
    <servlet-name>P5Servlet1</servlet-name>
    <servlet-class>cn.mh.p5.P5Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>P5Servlet1</servlet-name>
    <url-pattern>/P5Servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>P5Servlet2</display-name>
    <servlet-name>P5Servlet2</servlet-name>
    <servlet-class>cn.mh.p5.P5Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>P5Servlet2</servlet-name>
    <url-pattern>/P5Servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>P5Servlet3</display-name>
    <servlet-name>P5Servlet3</servlet-name>
    <servlet-class>cn.mh.p5.P5Servlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>P5Servlet3</servlet-name>
    <url-pattern>/P5Servlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>P5Servlet4</display-name>
    <servlet-name>P5Servlet4</servlet-name>
    <servlet-class>cn.mh.p5.P5Servlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>P5Servlet4</servlet-name>
    <url-pattern>/P5Servlet4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>P5Servlet5</display-name>
    <servlet-name>P5Servlet5</servlet-name>
    <servlet-class>cn.mh.p5.P5Servlet5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>P5Servlet5</servlet-name>
    <url-pattern>/P5Servlet5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>P6Servlet1</display-name>
    <servlet-name>P6Servlet1</servlet-name>
    <servlet-class>cn.mh.p6.P6Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>P6Servlet1</servlet-name>
    <url-pattern>/P6Servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>P6Servlet2</display-name>
    <servlet-name>P6Servlet2</servlet-name>
    <servlet-class>cn.mh.p6.P6Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>P6Servlet2</servlet-name>
    <url-pattern>/P6Servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>P6Servlet3</display-name>
    <servlet-name>P6Servlet3</servlet-name>
    <servlet-class>cn.mh.p6.P6Servlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>P6Servlet3</servlet-name>
    <url-pattern>/P6Servlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>P6Servlet4</display-name>
    <servlet-name>P6Servlet4</servlet-name>
    <servlet-class>cn.mh.p6.P6Servlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>P6Servlet4</servlet-name>
    <url-pattern>/P6Servlet4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Path</display-name>
    <servlet-name>Path</servlet-name>
    <servlet-class>cn.mh.p7.PathServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Path</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>