<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bServlet3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>ListenerServlet</servlet-name>
    <servlet-class>cn.listener.p2.ListenerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListenerServlet</servlet-name>
    <url-pattern>/ListenerServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>cn.listener.p2.MyListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>SessionActivation</display-name>
    <servlet-name>SessionActivation</servlet-name>
    <servlet-class>cn.listener.p2.SessionActivation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionActivation</servlet-name>
    <url-pattern>/SessionActivation</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>cn.listener.p2.Bean</listener-class>
  </listener>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>cn.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.filter.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login2Servlet</display-name>
    <servlet-name>Login2Servlet</servlet-name>
    <servlet-class>cn.filter.p2.Login2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login2Servlet</servlet-name>
    <url-pattern>/login2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodeServlet</display-name>
    <servlet-name>CodeServlet</servlet-name>
    <servlet-class>cn.filter.p3.CodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodeServlet</servlet-name>
    <url-pattern>/CodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodeServlet2</display-name>
    <servlet-name>CodeServlet2</servlet-name>
    <servlet-class>cn.filter.p3.CodeServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodeServlet2</servlet-name>
    <url-pattern>/CodeServlet2</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CodeFilter</display-name>
    <filter-name>CodeFilter</filter-name>
    <filter-class>cn.filter.p3.CodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>